body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-2px;
  width:320px;
  height:542px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:542px;
}
#u1 {
  position:absolute;
  left:2px;
  top:263px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:2px;
  top:0px;
  width:318px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:9px;
  width:320px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:15px;
  width:320px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  line-height:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u5_img.mouseDown {
}
#u5.mouseDown {
}
#u5_img.disabled {
}
#u5.disabled {
  opacity:0.5;
}
#u6 {
  position:absolute;
  left:16px;
  top:10px;
  width:288px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:30px;
  top:94px;
  width:262px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
}
#u7_img.selected {
  left:-6px;
  top:-6px;
  width:274px;
  height:48px;
}
#u7.selected {
}
#u8 {
  position:absolute;
  left:20px;
  top:8px;
  width:222px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:30px;
  top:214px;
  width:262px;
  height:36px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u9_img.mouseDown {
}
#u9.mouseDown {
}
#u9_img.disabled {
}
#u9.disabled {
  opacity:0.5;
}
#u10 {
  position:absolute;
  left:12px;
  top:8px;
  width:238px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:222px;
  top:187px;
  width:70px;
  height:25px;
  font-size:12px;
  color:#0000FF;
  text-align:right;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:30px;
  top:147px;
  width:262px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
}
#u13_img.selected {
  left:-6px;
  top:-6px;
  width:274px;
  height:48px;
}
#u13.selected {
}
#u14 {
  position:absolute;
  left:20px;
  top:8px;
  width:222px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:250px;
  top:26px;
  width:61px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:90px;
  top:124px;
  width:170px;
  height:59px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:59px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-12px;
  width:166px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:230px;
  top:187px;
  width:62px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:9px;
  top:20px;
  width:41px;
  height:37px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:37px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
