body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-2px;
  width:320px;
  height:552px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:552px;
}
#u1 {
  position:absolute;
  left:2px;
  top:268px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:2px;
  top:0px;
  width:318px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:9px;
  width:320px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:15px;
  width:320px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  line-height:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u5_img.mouseDown {
}
#u5.mouseDown {
}
#u5_img.disabled {
}
#u5.disabled {
  opacity:0.5;
}
#u6 {
  position:absolute;
  left:16px;
  top:10px;
  width:288px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:125px;
  width:320px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u8 {
  position:absolute;
  left:190px;
  top:88px;
  width:43px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:280px;
  top:82px;
  width:22px;
  height:22px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u11 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:190px;
  width:320px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u13 {
  position:absolute;
  left:10px;
  top:163px;
  width:57px;
  height:17px;
  font-size:14px;
  line-height:17px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:280px;
  top:158px;
  width:22px;
  height:22px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:237px;
  width:320px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u18 {
  position:absolute;
  left:12px;
  top:210px;
  width:57px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  line-height:17px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:282px;
  top:205px;
  width:22px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:289px;
  width:320px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u23 {
  position:absolute;
  left:12px;
  top:262px;
  width:57px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  line-height:17px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:282px;
  top:257px;
  width:22px;
  height:22px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u26 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:254px;
  top:20px;
  width:53px;
  height:36px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u27_img.mouseDown {
}
#u27.mouseDown {
}
#u27_img.disabled {
}
#u27.disabled {
  opacity:0.5;
}
#u28 {
  position:absolute;
  left:12px;
  top:8px;
  width:29px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:1px;
  top:499px;
  width:318px;
  height:49px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:49px;
}
#u30 {
  position:absolute;
  left:2px;
  top:16px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:82px;
  top:532px;
  width:49px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:17px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:162px;
  top:532px;
  width:49px;
  height:17px;
  font-size:12px;
  text-align:center;
  line-height:17px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:247px;
  top:532px;
  width:49px;
  height:17px;
  font-size:12px;
  text-align:center;
  line-height:17px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:97px;
  top:507px;
  width:24px;
  height:24px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:173px;
  top:504px;
  width:30px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:258px;
  top:505px;
  width:30px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:26px;
  top:507px;
  width:24px;
  height:24px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:11px;
  top:530px;
  width:49px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:17px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:0px;
  top:338px;
  width:320px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u48 {
  position:absolute;
  left:12px;
  top:311px;
  width:71px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  line-height:17px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:282px;
  top:306px;
  width:22px;
  height:22px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u51 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:13px;
  top:497px;
  width:59px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  position:absolute;
  left:82px;
  top:498px;
  width:59px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  position:absolute;
  left:158px;
  top:498px;
  width:59px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  position:absolute;
  left:244px;
  top:498px;
  width:59px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  position:absolute;
  left:14px;
  top:65px;
  width:46px;
  height:60px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:60px;
}
#u57 {
  position:absolute;
  left:2px;
  top:22px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
