body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:666px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-2px;
  width:320px;
  height:532px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:532px;
}
#u1 {
  position:absolute;
  left:2px;
  top:258px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:2px;
  top:0px;
  width:318px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:9px;
  width:320px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:15px;
  width:320px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  line-height:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u5_img.mouseDown {
}
#u5.mouseDown {
}
#u5_img.disabled {
}
#u5.disabled {
  opacity:0.5;
}
#u6 {
  position:absolute;
  left:16px;
  top:10px;
  width:288px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:-4px;
  top:115px;
  width:320px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u8 {
  position:absolute;
  left:136px;
  top:66px;
  width:37px;
  height:17px;
  font-size:12px;
  line-height:17px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:-4px;
  top:176px;
  width:320px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u11 {
  position:absolute;
  left:136px;
  top:128px;
  width:31px;
  height:17px;
  font-size:12px;
  line-height:17px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:136px;
  top:158px;
  width:120px;
  height:17px;
  font-size:12px;
  line-height:17px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:136px;
  top:100px;
  width:60px;
  height:17px;
  font-size:12px;
  line-height:17px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:183px;
  top:101px;
  width:120px;
  height:17px;
  font-size:12px;
  line-height:17px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:7px;
  top:65px;
  width:109px;
  height:50px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:7px;
  top:128px;
  width:109px;
  height:50px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:240px;
  top:72px;
  width:76px;
  height:18px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u23_img.mouseDown {
}
#u23.mouseDown {
}
#u23_img.disabled {
}
#u23.disabled {
  opacity:0.5;
}
#u24 {
  position:absolute;
  left:12px;
  top:-1px;
  width:52px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:183px;
  top:158px;
  width:120px;
  height:17px;
  font-size:12px;
  line-height:17px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:10px;
  top:65px;
  width:220px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28 {
  position:absolute;
  left:10px;
  top:125px;
  width:220px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  position:absolute;
  left:240px;
  top:129px;
  width:76px;
  height:18px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u29_img.mouseDown {
}
#u29.mouseDown {
}
#u29_img.disabled {
}
#u29.disabled {
  opacity:0.5;
}
#u30 {
  position:absolute;
  left:12px;
  top:-1px;
  width:52px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:370px;
  top:44px;
  width:300px;
  height:103px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:103px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
