body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-2px;
  width:320px;
  height:612px;
  font-size:14px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:612px;
}
#u1 {
  position:absolute;
  left:2px;
  top:298px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:2px;
  top:0px;
  width:318px;
  height:13px;
  font-size:14px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:9px;
  width:320px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:15px;
  width:320px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  line-height:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u5_img.mouseDown {
}
#u5.mouseDown {
}
#u5_img.disabled {
}
#u5.disabled {
  opacity:0.5;
}
#u6 {
  position:absolute;
  left:16px;
  top:10px;
  width:288px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:81px;
  top:430px;
  width:152px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:75px;
  top:73px;
  width:49px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  line-height:17px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:76px;
  top:103px;
  width:4px;
  height:16px;
  font-size:12px;
  line-height:17px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  visibility:hidden;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:12px;
  top:73px;
  width:44px;
  height:45px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:257px;
  top:98px;
  width:53px;
  height:18px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u15_img.mouseDown {
}
#u15.mouseDown {
}
#u15_img.disabled {
}
#u15.disabled {
  opacity:0.5;
}
#u16 {
  position:absolute;
  left:12px;
  top:-1px;
  width:29px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:127px;
  top:71px;
  width:23px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:111px;
  top:103px;
  width:67px;
  height:17px;
  font-size:12px;
  line-height:17px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:183px;
  top:102px;
  width:63px;
  height:17px;
  font-size:12px;
  line-height:17px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:16px;
  top:261px;
  width:107px;
  height:59px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:59px;
}
#u24 {
  position:absolute;
  left:2px;
  top:22px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:18px;
  top:314px;
  width:104px;
  height:51px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:51px;
}
#u26 {
  position:absolute;
  left:2px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:16px;
  top:373px;
  width:290px;
  height:209px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:209px;
}
#u28 {
  position:absolute;
  left:2px;
  top:96px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:15px;
  top:316px;
  width:306px;
  height:1px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:1px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-8px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:14px;
  top:368px;
  width:306px;
  height:1px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:1px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-8px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:9px;
  top:20px;
  width:41px;
  height:37px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:37px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:14px;
  top:139px;
  width:306px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u36 {
  position:absolute;
  left:14px;
  top:178px;
  width:306px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u37 {
  position:absolute;
  left:17px;
  top:155px;
  width:300px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:14px;
  top:178px;
  width:306px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u40 {
  position:absolute;
  left:14px;
  top:217px;
  width:306px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u41 {
  position:absolute;
  left:17px;
  top:194px;
  width:289px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:15px;
  top:255px;
  width:306px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u44 {
  position:absolute;
  left:18px;
  top:230px;
  width:289px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:19px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:350px;
  top:71px;
  width:300px;
  height:48px;
  font-size:14px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
